.chat
  .chat__header
    .chat__header__left
      .chat__header__left__groupname
        test
      %ul.chat__header__left__members
        Member：
        %class.chat__header__left__members__member
          メンバー名 
    .chat__header__right
      = link_to "#" do
        EDIT

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'